<!-- Recipe Name -->
<%= f.label :name, "Name" %>
<%= f.text_field :name %><br>

<!-- Recipe Ingredients -->
<p>Ingredients</p>

<%= f.fields_for :ingredients do |ing| %>
    <%= ing.text_field :name %><br>
<% end %>

<p>Recipe Ingredients</p>

<%= f.fields_for :recipe_ingredients do |r_ing| %>
    <%= r_ing.text_field :ingredient_name %> <%= r_ing.text_field :quantity %><br>
<% end %>

<!-- Old way of getting ingredients. -->
<!-- <input id="recipe_ingredient" name="ingredients[][name]" type="text" value=<%= @recipe.ingredients[0].name if @recipe.ingredients[0]%> ><br>
<input id="recipe_ingredient" name="ingredients[][name]" type="text" value=<%= @recipe.ingredients[1].name if @recipe.ingredients[1]%> ><br>
<input id="recipe_ingredient" name="ingredients[][name]" type="text" value=<%= @recipe.ingredients[2].name if @recipe.ingredients[2]%> ><br>
<input id="recipe_ingredient" name="ingredients[][name]" type="text" value=<%= @recipe.ingredients[3].name if @recipe.ingredients[3]%> ><br>
<input id="recipe_ingredient" name="ingredients[][name]" type="text" value=<%= @recipe.ingredients[4].name if @recipe.ingredients[4]%> ><br> -->

<!-- submit -->
<%= f.submit %>