<!-- Recipe Name -->
<%= f.label :name, "Name" %>
<%= f.text_field :name %><br>

<!-- Recipe Ingredients -->
<p>Recipe Ingredients</p>

<%= f.fields_for :recipe_ingredients, @ingredients do |r_ing| %>
    <%= r_ing.text_field :ingredient_id %> <%= r_ing.text_field :quantity %><br>
<% end %>

<!-- old way -->
<!-- <p>Ingredients</p> -->
<%# = f.fields_for :ingredients do |ing| %>
    <%# = ing.text_field :name %><br>
<%#  end %>

<!-- submit -->
<%= f.submit %>