<h1><%= @recipe.name %></h1>
<h3>By: <%= @recipe.username %></h3>
<%= link_to "User Page", user_url(@recipe.user.id) %>
<%= link_to "see other Recipes", recipes_url %>
<%= link_to "see your page", user_url(session[:user_id]) if session[:user_id]%>

<p>The Main Ingredients</p>

<% print_ingredients(@recipe).each do |i| %> <!-- replace this -->
    <p><%= i.name %></p>
<% end %>

<%= link_to "Edit Recipe", edit_user_recipe_url(userid(@recipe), @recipe) if userid(@recipe) == session[:user_id]%>
<% if @recipe.user.id == session[:user_id] %>
    <%= form_tag recipe_path(@recipe), method: "delete" do %>
        <%= submit_tag "Delete #{@recipe.name}" %>
    <% end %>
<% end %>

<% if @recipe.user.id != session[:user_id] %>
    <% id = @recipe.id %>
<% end %>
<p>Leave a review!</p>
<!--
options_for_select([["Dollar", "$"], ["Kroner", "DKK"]])
["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]
options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]])
-->

<%= form_for @review, url: {action: "create", controller: "reviews"} do |r| %>
    <%= r.label :score, "Score" %>
    <!-- select_tag(:score, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]])) -->
    <!-- select("review", "score", options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]]) ) -->
   
    <%= r.select :score, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], @review.score), include_blank: true %>

    <!-- r.hidden_field "recipe_id", @recipe.id --> <!-- doesn't work -->
    <%= hidden_field_tag("review[recipe_id]", @recipe.id) %>
    <%= r.submit "Submit Score" %>
<% end %>

<!-- https://stackoverflow.com/questions/3364492/actioncontrollerinvalidauthenticitytoken -->
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>