<h1>New User</h1>

<%= form_for @user do |f| %>

    <!-- User Name -->
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br>

    <!-- User Email -->
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %><br>

    <!-- User Password -->
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %><br>

    <!-- submit -->
    <%= f.submit %>
    
<% end %>